<!DOCTYPE html>
<html>
<head>
    <title>ISBN</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Editar Tarea</h1>
        <form method="POST" action="/edit/{{ task.id }}">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ task.name }}" required>
            
            <label for="description">Description:</label>
            <textarea id="description" name="description">{{ task.description }}</textarea>
            
            <button type="submit">Update Task</button>
        </form>
</body>
</html> 
